

<!--
-->
<div style='width: 800px;'>
  <div id="multi_markers" style='width: 800px; height: 400px;'></div>
</div>
   
<script type="text/javascript">
var handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'multi_markers'}}, function(){
//    { lat: 
//	  , lng: 
//    },
  var markers = handler.addMarkers([

    { lat: 
    	-12.109111 
    ,lng:
    	-77.032583
    },

    { lat: 
		-12.088798
    ,lng:
		-77.045025
    },

    { lat: 
		-12.089564
		, lng: 
		-77.080865
    },

    { lat: 
		-12.145926
	, lng: 
		-77.022345
    },

    { lat: 
		-12.093084
	, lng: 
		-77.046491
    },

    { lat: 
		-12.132566	
	, lng: 
		-76.995997
    },

    { lat: 
		-12.12119	
	, lng: 
		-77.02862
    },


    { lat: 
		-12.077915	
	, lng: 
		-77.047811
    },

    { lat: 
		-12.12409	
	, lng: 
		-77.02875
    },

    { lat: 
		-12.12196	
	, lng: 
		-77.03372
    },

    { lat: 
		-12.112992	
	, lng: 
		-77.028803
    }

//    { lat: 43, lng: 3.5},
//    { lat: 45, lng: 4},
//    { lat: 47, lng: 3.5},
//    { lat: 49, lng: 4},
//    { lat: 51, lng: 3.5}
  ]);

  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script> 






<!--
<div style='width: 800px;'>
	<div id="sidebar_builder" style='width: 800px; height: 400px;'></div>
</div>

<div id='sidebar_container'>
</div>



<script type="text/javascript">

function createSidebarLi(json){
  return ("<li><a>" + json.name + "</a></li>");
};

function bindLiToMarker($li, marker){
  $li.on('click', function(){
    handler.getMap().setZoom(14);
    marker.setMap(handler.getMap()); //because clusterer removes map property from marker
    marker.panTo();
    google.maps.event.trigger(marker.getServiceObject(), 'click');
  })
};

function createSidebar(json_array){
  _.each(json_array, function(json){
    var $li = $( createSidebarLi(json) );
    $li.appendTo('#sidebar_container');
    bindLiToMarker($li, json.marker);
  });
};

handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'sidebar_builder'}}, function(){
  var json_array = [

    { lat: 40, lng: -80, name: 'Foo', infowindow: "I'm Foo" },
    { lat: 45, lng: -90, name: 'Bar', infowindow: "I'm Bar" },
    { lat: 50, lng: -85, name: 'Baz', infowindow: "I'm Baz" }

  ];

  var markers = handler.addMarkers(json_array);

  _.each(json_array, function(json, index){
    json.marker = markers[index];
  });

  createSidebar(json_array);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script> 
-->    





<!--
<div style='width: 800px;'>
  <div id="basic_map" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">
	handler = Gmaps.build('Google');
	handler.buildMap({ internal: {id: 'basic_map' }});
</script> 
-->



<!--
<script src="/path/to/your/code.js"></script>
-->
<%#= javascript_include_tag "jr" %>


<!--
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>


<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    {
      "lat": 0,
      "lng": 0,
      "picture": {
        "url": "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
        "width":  36,
        "height": 36
      },
      "infowindow": "hello!"
    }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script> 


<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({
    provider: {
      disableDefaultUI: true
      // pass in other Google Maps API options here
    },
    internal: {
      id: 'map'
    }
  },
  function(){
    markers = handler.addMarkers([
      {
        "lat": 0,
        "lng": 0,
        "picture": {
          "url": "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
          "width":  36,
          "height": 36
        },
        "infowindow": "hello!"
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  }
);
</script> 
-->

