

<li>

<!--	
  <span class="content"><%= point.name %> </span>
-->
  <%= link_to point.name, point %>

<!--
|
  <span class="timestamp">
    Posted <%= time_ago_in_words(point.created_at) %> ago.
  </span>
-->

</li>
