

<% provide(:title, 'Create Restaurant') %>

<h1>Create Restaurant</h1>


<div class="row">
  <div class="span6 offset3">

    <%= @restaurant.name %> ,
    <%= @restaurant.info %>,
    <%= @restaurant.lat_dec %>,
    <%= @restaurant.long_dec %>

  </div>
</div>

