

<% provide(:title, 'Index of Maps') %>

<h1>Index of Maps</h1>

<%= will_paginate %>


<ul class="users">

<!--
<table border="1" style="width:100%">
-->

<table style="width:100%">

  <tr>
    <th>Name</th>
    <th>Id</th>
    <th>Type</th>
    <th>Created by</th>
    <th>Last updated by</th>
    <th>Comments</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  
  <%= render @maps %>

</table> 


</ul>


<%= will_paginate %>

