

<% provide(:title, 'Index of Places') %>

<h1>Places in Lima</h1>

<%= will_paginate %>


<ul class="users">

  <table style="width:100%">

  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Info</th>
    <th>Lat</th>
    <th>Lng</th>
    <th>Created</th>
    <th>Last updated</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
  <%= render @restaurants %>

  </table> 

</ul>


<%= will_paginate %>

