

<% provide(:title, 'Index of Restaurants') %>

<h1>Index of Restaurants</h1>

<%= will_paginate %>


<ul class="users">
  
  <%= render @restaurants %>

<%# @restaurants.keys.sort.each do |restaurant| %>
    <%#= starting_letter %>
    <%# @restaurants[starting_letter].each do |restaurant| %>

    <%#= restaurant %>
  	<%#= render @restaurant %>

  <%# end %>
<%# end %>

</ul>


<%= will_paginate %>

