

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "test maps", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">


          <li><%= link_to "Home",     root_path %></li>
          <li><%#= link_to "Help",     help_path %></li>

          <li><%#= link_to "",      _path  %></li>

          <li><%#= link_to "New Point",      new_point_path  %></li>
          <li><%#= link_to "P Index",        points_path  %></li>

          <li><%= link_to "New Map",      new_map_path  %></li>
          <li><%= link_to "Index",        maps_path  %></li>

          <li><%#= link_to "New Restaurant",        new_restaurant_path  %></li>
          <li><%#= link_to "R Index",      restaurants_path  %></li>

          <li><%#= link_to "Map 1",      map1_path  %></li>
          <li><%#= link_to "Map 2",      map2_path  %></li>
          <li><%#= link_to "Map 3",      map3_path  %></li>

        </ul>
      </nav>
    </div>
  </div>
</header>
